@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
        .titulo{
            font-family: "Anton";
            text-align: center;
            text-transform: uppercase;
        }
        .versiculo{
            font-family: "Roboto Condensed";text-indent: 1em;
        }
        .Jesus{
            font-family: "Roboto Condensed";
           color: red;
        }
        sup{
            font-weight: bolder;
            color: black;
        }